---
import Nav from './Nav.astro';
import HeaderLink from './HeaderLink.astro';
---


<nav>
	<ul>
	  <li><HeaderLink href="/">Home</HeaderLink></li>
	  <li><HeaderLink href="/blog">Blog</HeaderLink></li>
	  <li><HeaderLink href="/about">About</HeaderLink></li>
	  <li><HeaderLink href="https://www.linkedin.com/in/nikhil-bhasin/" target="_blank">in</HeaderLink></li>
	  
	</ul>
  </nav>

<!-- Nav.astro
<li><HeaderLink href="https://github.com/BridgeoverLethe" target="_blank">GitHub</HeaderLink></li>
 -->